<!doctype html>
<html>
  <head>
    <title>Beer Rating</title>
    <link rel="stylesheet" href="/global.css">
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    <%= yield %>

    <script style="text/javascript" src="/global.js"></script>
  </body>
</html>