#quiz {
  position: relative;
  top: 0px;
  visibility: hidden;
}

/*#question {
  position: absolute;
}
*/
.unhide {
  visibility: visible;
}

/*.hide {
  position: absolute;
  visibility: hidden;
  left: -500px;
}
*/
.smoosh {
  position: absolute;
}

.smoosh p {
  margin: 0px;
}

.choices {
  margin-top: 20px;
}

#next {
  margin-top: 50px;
}

.form_wrapper {
  position: absolute;
  margin-top: 50px;
}

