
<body>
  <h1>Quiz Game V2 with Questions Hidden in HTML</h1>
  <div id="quiz">
    
    <div id="question1" class="unhide smoosh">
      <p><% @all_questions[count].question %></p>
    </div>
  </div>
  <div id="choices">
      <p><% @all_choices[count].question %></p>
    </div>
  <input type="text" id="answer">
  <input type="submit" id="submitter">
  <div id="question_result"></div>
  <input type="submit" id="next" value="Next Question">
  <div id="total_result"></div>
  
  <script type="text/javascript" src="global.js"></script>
</body>