
<body>
  <h1>Quiz Game V2 with Questions Hidden in HTML</h1>
  <div id="quiz">
    
    <div id="question1" class="unhide smoosh">
      <p>How many words are in this sentence?</p>
    </div>
    <div id="question2" class="smoosh">
      <p>What about this sentence?</p>
    </div>
    <div id="question3" class="smoosh">
      <p>And this sentence?</p>
    </div>
    <div id="question4" class="smoosh">
      <p>What's your favorite letter.</p>
    </div>
    <div id="question5" class="smoosh">
      <p>Is there a correct answer to this question?</p>
    </div>
  </div>
  <div id="choices"></div>
  <input type="text" id="answer">
  <input type="submit" id="submitter">
  <div id="question_result"></div>
  <input type="submit" id="next" value="Next Question">
  <div id="total_result"></div>
  
  <script type="text/javascript" src="global.js"></script>
</body>