<header>
  <nav class="nav_container">
    <div id="hamburger" class="mobile">
      <img src="/menu.png">
    </div>
    <div id="mobileNav">
      <nav>
        <ul>
          <a href="/beer/beers_menu"><li>Beer Menu</li></a>
          <a href="/users/users_menu"><li>Users Menu</li></a>
          <a href="/breweries/breweries_menu"><li>Breweries Menu</li></a>
        </ul>
      </nav>
      <div style="clear: both"></div>
    </div>
  </div>
  <h1>Welcome to Beer Ratings</h1>
  <p>Rate beers.  Add beers.  Beer.</p>
  <h3>Make a selection:</h3>
</header>